@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.project {
  width: 500px;
  margin: 10px;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  @media (min-width: 320px) and (max-width: 700px) {
    width: 280px;
    margin-bottom: 20px
  }

  .imgContainer {
    height: 250px;
    width: 100%;
    background-color: purple;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    &::before {
      position: absolute;
      content: '';
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.3;
    }

    .titleProject {
      @include text($titleFontFamily, 25px, 500, 1.2);
      color: $textColor;
      margin-bottom: 0.5rem;
      margin-top: 0;
      position: relative;
      z-index: 0;
      opacity: 0;
    }

    /*.description {
      @include text($textFontFamily, 18px, 400, 1.5);
      -webkit-font-smoothing: antialiased;
      margin: 0;
      text-align: left;
      position: relative;
      @media (min-width: 320px) and (max-width: 700px) {
        width: 80%;
      }
    }*/

    .linkCont {
      @include text($textFontFamily, 18px, 400, 1.5);
      width: 120px;
      height: 25px;
      margin-top: 10px;
      position: relative;
      z-index: 0;
      opacity: 0;
      text-decoration: none;
    }
  }
  .imgContainer:hover {
    .titleProject {
      opacity: 1;
    }
    .linkCont {
      opacity: 1;
    }
  }
}