@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.contactsBlock {
  min-height: 80vh;
  background-color: $bgSecondColor;
  padding: 20px 0 20px 0;

  .title {
    display: flex;
    justify-content: center;
  }

  .container {
    /*border: 1px solid black;*/
    min-height: 80vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .iconContainer {
      width: 700px;
      background-color: $bgSecondColor;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      @media (min-width: 320px) and (max-width: 700px) {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .contactEl {
        width: 200px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $bgSecondColor;

        .iconContact {
          background-color: $bgSecondColor;
          color: white;
          width: 50px;
          height: 50px;
         /* border-radius: 50%;*/
          margin-bottom: 20px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        .titleCont {
          @include text($textFontFamily, 18px, 400, 1.5);
        }
        .description {
          @include text($textFontFamily, 15px, 400, 1.5);
        }
      }


    }

    .containerForm {
      width: 700px;
      height: 500px;
      background-color: $bgColor;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (min-width: 320px) and (max-width: 700px) {
        width: 90%;
      }

      .form {
        width: 500px;
        background-color: $bgColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (min-width: 320px) and (max-width: 700px) {
          width: 80%;
        }

        & .email, & .name {
          width: 240px;
          height: 30px;
          border: 0;
          outline: none;
          color: $textColor;
          background-color: $bgSecondColor;
          @media (min-width: 320px) and (max-width: 700px) {
            width: 100%;
            margin: 0;
          }
        }

        & .email {
          margin-right: 20px;
          @media (min-width: 320px) and (max-width: 700px) {
            width: 100%;
            margin-bottom: 20px;
          }
        }

        & .name {
        }

        & .textarea {
          max-width: 100%;
          width: 500px;
          height: 100px;
          margin: 20px 0;
          outline: none;
          resize: none;
          border: 0;
          color: $textColor;
          background-color: $bgSecondColor;
          @media (min-width: 320px) and (max-width: 700px) {
            width: 100%;
          }
        }

        & .button {
          justify-content: center;
          margin: 0 auto;
          width: 150px;
          height: 30px;
          border: 0;
          color: $textColor;
          background-color: $bgSecondColor;
        }
      }


    }
  }
}