@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.header {
  height: 80px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: $bgSecondColor;
  display: flex;
  @media (min-width: 0px) and (max-width: 600px) {
    height: 60px;
  }

  .headerCont {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

