$textColor: #e3e3e3;
$secondTextColor: #b9b9b9;
$primaryColor: hsla(0,0%,40%,.6);
$bgColor: #202020;
$bgSecondColor: #2a2a2a;
$activeColor: #9b37ff;
$borderBottom: 1px solid rgba(107, 107, 107, 0.41);
$titleFontFamily: 'Heebo', sans-serif;
$textFontFamily: 'Heebo', sans-serif;
